.container {
  min-height: 100vh;
  padding-top: 70px;
}
.CardOfWeather {
  padding: 15px;
}
.customCard {
  height: 100% !important;
  /* background: inherit !important; */
  background: #2f00ff4f !important;
  /* border: 2px solid black !important; */
  margin-bottom: 15px;
  color: black;
}
.customCard p,
.customCard a,
.customCard h2,
.customCard h3,
h1 {
  color: white;
}
.marginAuto {
  margin: auto;
}
.fontVarianteSmallCaps {
  font-variant: small-caps;
  text-transform: lowercase;
}
.placesDiv {
  position: absolute;
  z-index: 3 !important;
  width: 100%;
}
.cursorPointer {
  cursor: pointer;
}
.customHeadline {
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .mobileHr {
    display: block;
    border-bottom: 1px solid black;
    width: 100%;
  }
}
