body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.DarkTheme {
  background: black !important;
}
.DarkTheme h1,
.DarkTheme i,
.DarkTheme p,
.DarkTheme a,
.DarkTheme .card,
.DarkTheme .footer,
.DarkTheme i.far.fa-lightbulb.fa-2x,
.DarkTheme .navItem {
  color: #fff !important;
  background: black !important;
}
.DarkTheme .DegreesDiv {
  background-color: white;
}
.WhiteTheme {
  background: white;
}
.WhiteTheme p,
.WhiteTheme a {
  color: black;
}
